.table {
    border-collapse: collapse;
    margin: auto;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #63af94;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
